@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Anton&family=Bungee+Shade&family=Gabarito:wght@600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}

body {
  @apply bg-black text-white;
}

/* section { */
/*   @apply ; */
/* } */

.container {
  @apply px-2 xl:mx-auto max-w-[90rem] relative z-0;
}

.header_height {
  @apply xl:h-[45rem] lg:h-[35rem] md:h-[30rem] sm:h-[25rem] h-[20rem];
}

.header_sizes {
  @apply xl:text-7xl lg:text-6xl md:text-5xl sm:text-4xl text-4xl;
}

.header_subtext {
  @apply text-2xl sm:text-3xl lg:text-4xl font-extrabold uppercase tracking-wide;
}

.section_header {
  @apply text-3xl sm:text-4xl lg:text-5xl font-extrabold uppercase tracking-wide;
}

.section_sub_header {
  @apply xl:text-lg lg:text-base md:text-sm text-left text-xs font-medium xl:mt-3 lg:mt-2 text-white/90 leading-none;
}

.border {
  @apply border-solid border-black/40 border-r-[1px] border-l-[1px] border-t-[1px] border-b-[3px];
}

.button_padding {
  @apply px-4 py-2 sm:px-5 sm:py-3 md:px-6 md:py-4;
}

.countdown_padding {
  @apply px-3 py-1 sm:px-5 sm:py-1 lg:px-10 lg:py-2;
}

.flex_col {
  @apply flex flex-col;
}

.flex_end {
  @apply flex justify-center items-end;
}

.flex_center {
  @apply flex justify-center items-center;
}

.rounded {
  @apply rounded-lg;
}

.transition_config {
  @apply transition-all ease-in-out duration-300;
}

.gradient {
  @apply from-yellow-400 via-yellow-300 to-yellow-200;
}

.gradient_secondary {
  @apply !from-yellow-700 !via-yellow-600 !to-yellow-500;
}

/* Navigation Bar */

.nav_links {
  @apply relative text-4xl font-extrabold outline-none h-16 flex_center hover:text-black px-3 transition rounded overflow-hidden;
}

.nav_span {
  @apply absolute w-0 h-full z-10 gradient transition;
}

.nav_dropdown {
  @apply text-2xl font-semibold px-4 divide-white divide-y-2;
}

/* Header Grid */

.header_grid {
  @apply bg-gradient-to-tr gradient rounded-lg p-4 cursor-default;
}

.header_grid_text {
  @apply text-black/80 lowercase font-semibold text-sm lg:text-base !leading-none;
}

.header_grid_empty {
  @apply header_grid !bg-gradient-to-r gradient_secondary;
}

.header_grid_effects {
  @apply hover:rotate-6 hover:scale-110 transition-all duration-300 hover:shadow-lg hover:shadow-black/30;
}

/* Upcoming Conferences */

.upcoming_conference_info_wrap {
  @apply absolute group-odd:right-0 group-odd:text-right group-even:left-0 group-odd:clip-path-polygon-[100%_0,_30%_0,_40%_100%,_100%_100%] group-even:clip-path-polygon-[0_0,_70%_0,_60%_100%,_0_100%] w-0 group-hover:w-full overflow-hidden transition bg-zinc-800 h-full flex flex-col group-even:items-start group-odd:items-end justify-center text-transparent;
}

/* Footer */

.footer_grid_header {
  @apply uppercase font-bold text-xl;
}
